h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}

td {
  cursor: pointer;
}

.hello {
  /* The image used */
  background-image: url("../../assets/images/Backgroud.jpeg");

  /* Full height */
  height: 100vh;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
}

.avatar-list {
  height: 50px;
}

.clients-list {
  padding-top: 20px;
}
.client-card {
  border: 3px;
  border-block-color: black;
}
